---
layout: default
---
{%- assign locations = site.locations -%}

<section class="bp-section">
    <div class="bp-container">
        <div class="row is-inverted">
            <div class="col is-8 is-offset-2">
                {%- include header-breadcrumb.html -%}
            </div>
        </div>
        <div class="row">
            <div class="col is-8 is-offset-2">
                <h1 class="display has-text-weight-semibold">Get in touch with<br><span class="has-text-secondary">{{site.title-abbreviated}}</span></h1>
            </div>
        </div>
    </div>
</section>

<section class="bp-section is-small padding--bottom--lg">
    <div class="bp-container">
        <div class="row">
            <div class="col is-8 is-offset-2">
                {%- for location in locations -%}
                <div class="row is-multiline margin--bottom">
                    <div class="col is-6 padding--bottom--none">
                        <p></p>
                        <h5 class="has-text-secondary"><b>{{location.name}}</b></h5>
                    </div>
                    <div class="col is-6 padding--bottom--none">
                        {%- if location.hours -%}
                        <h5 class="has-text-secondary"><b>Operating Hours</b></h5>
                        {%- endif -%}
                    </div>
                    <div class="col is-6">
                        <div>
                            <p class="content margin--top--none">{{location.address}}</p>
                            {%- if location.google-maps -%}
                            <a href="{{location.google-maps}}" target="_blank" class="bp-sec-button has-text-secondary">
                                <div>
                                    <span>FIND DIRECTIONS</span>
                                    <i class="sgds-icon sgds-icon-arrow-right" aria-hidden="true"></i>
                                </div>
                            </a>
                            {%- endif -%}
                        </div>
                    </div>
                    <div class="col is-6">
                        {%- if location.hours -%}
                        {%- assign hours = location.hours -%}
                        <div>
                            {%- for operation in hours %}
                            <p class="margin--top--none">
                                <b>{{operation.days}}</b>:&nbsp;{{operation.time}}
                            </p>
                            {%- endfor -%}
                            <p class="margin--top--none">
                                {{location.description}}
                            </p>
                            {%- if location.smallnote -%}
                            <br>
                            <p>
                                <small>{{location.smallnote}}</small>
                            </p>
                            {%- endif -%}
                        </div>
                        {%- endif -%}
                    </div>
                </div>
                <!--<div></div>-->
                {%- endfor -%}

                <div class="row is-multiline margin--bottom--xl">
                    <div class="col is-12 padding--bottom--none">
                        <h5 class="has-text-secondary"><b>Contact Us</b></h5>
                    </div>
                    {%- for column in site.contact -%}
                    <div class="col is-6">
                        <div>
                            <p class="has-text-weight-semibold margin--top--none margin--bottom--none">{{column.title}}</p>
                            {%- if column.phone -%}
                                <p class="margin--top--none margin--bottom--none">
                                    <span class="sgds-icon sgds-icon-telephone"></span>&nbsp;{{- column.phone -}}
                                </p>
                            {%- endif -%}
                            {%- if column.email -%}
                                <p class="margin--top--none margin--bottom--none">
                                    <span class="sgds-icon sgds-icon-mail"></span>&nbsp;
                                    <a href="mailto:{{column.email}}">{{- column.email -}}</a>
                                </p>
                            {%- endif -%}
                        </div>
                    </div>
                    {%- endfor -%}

                </div>
                {%- if site.feedback_form_url -%}
                <div class="row is-multiline margin--bottom--lg">
                    <div class="col is-12 padding--bottom--none">
                        <h5 class="has-text-secondary has-text-weight-semibold">Send us your feedback</h5>
                    </div>
                    <div class="col is-8">
                        <p>
                            If you have a query, feedback or wish to report a problem related to this website,
                            please fill in the <a href="{{site.feedback_form_url}}" target="_blank"><u>online form</u></a>.
                        </p>
                    </div>
                </div>
                {%- endif -%}
            </div>
        </div>
    </div>
</section>
